{% extends 'base.html' %}

{% block login %}
{% endblock login %}

{% block body %}

<h3>Registration Form</h3>
<br>
<form method='POST' action='' >
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputFirstName">Username</label>
        {{ form.username }}        
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputFirstName">First Name</label>
        {{ form.first_name }}        
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputLastName">LastName</label>
        {{ form.last_name }}        
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputEmail">Email address</label>
        {{ form.email }}        
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{ form.password }}    
    </div>
    <br>
    <input type="submit" class="btn btn-primary">
  </form>

{% endblock %}